@import "normalise";
@import "_variables";
@import "_typography";
@import "_header";
@import "_codemirror";
@import "_results";
@import "_animations";

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background: #263238;
}

.hide {
	opacity: 0;
	visibility: hidden;
}

.container {
	margin: auto;
	width: 1000px;
}

textarea {
	height: 500px;
}

button {
	width: 20%;
	color: #fff;
	border: none;
	padding: 10px;
	font-size: 20px;
	margin: 15px auto;
	text-align: center;
	background: #009688;
	text-transform: uppercase;

	&:hover {
		background: #00897b;
		background: $green-dark;
	}

	&:active,
	&:focus {
		outline: none;
	}
}

.button-wrapper {
	text-align: center;
}

pre {
	overflow: hidden;
	font-size: 1.4rem;
	font-family: $mono-font;
}

// will modularise this code later, too lazy and tired
// update, i'm still tired.